**/android/build/
**/app/build/
*.log
*.tgz
*.xcworkspace/
.DS_Store
.gradle/
.idea/
.turbo/
/packages/*/bin/
/packages/*/dist/
/packages/*/lib/
/scripts/bin/
/scripts/lib/
Pods/
coverage/
local.properties
node_modules/
!**/__fixtures__/**/node_modules/
